<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-left">
  <li (click)="toggleSidebar.emit()" class="nav-item m-l-10 d-block d-lg-none">
    <a
      class="nav-link"
      href="javascript:void(0)"
      ><i class="ti-menu"></i
    ></a>
  </li>
</ul>
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<ul class="navbar-nav my-lg-0 float-right">
  <!-- ============================================================== -->
  <!-- Profile -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
    <a
      ngbDropdownToggle
      class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
      href="javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      ><img src="assets/images/users/1.jpg" alt="user" class="profile-pic"
    /></a>
    <div class="dropdown-menu" ngbDropdownMenu>
      <ul class="dropdown-user">
        <li>
          <a routerLink="/dashboard/profile"><i class="ti-user"></i> Profile</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#"><i class="fa fa-power-off"></i> Log out</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
