<form class="form" (ngSubmit)="updateCurrentUser()" [formGroup]="updateUserForm">
  <div class="row">
    <div class="col-lg-3 offset-md-1">
      <div class="card">
          <div class="card-body" align="center">
              <h6 class="card-title">Current Picture</h6>

              <img *ngIf="!newProfilePicture" [src]="getImage()" class="mb-2 img-circle img-size" >
              <img *ngIf="newProfilePicture" [src]="tempImage" class="mb-2 img-circle img-size">

              <div class="input-group mb-2">
                <div class="custom-file sm">
                  <input type="file" class="custom-file-input custom-file-input-option" id="profileInput" (change)='onChange($event)'>
                  <label class="custom-file-label text-left" for="profileInput"> {{ currentFileName }}</label>
                </div>
              </div>

              <button (click)="updateImage()" [disabled]="!newProfilePicture" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      Update Picture
              </button>
          </div>
      </div>
  </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
            <ngb-panel id="custom-panel-1">
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                  <h5 class="m-0">Description</h5>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="Write your description here..."
                    formControlName="description"></textarea>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle">General Information</h6>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputuname">First Names:</label>
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="mdi mdi-comment-account"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Names" formControlName="firstNames" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputuname">Last Names:</label>
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="mdi mdi-comment-account-outline"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Last Names" formControlName="lastNames" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputuname">Email:</label>
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="mdi mdi-email-outline"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" formControlName="email" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputuname">Country:</label>
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="mdi mdi-google-maps"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Country" formControlName="country" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputuname">City:</label>
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="mdi mdi-linux"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="City" formControlName="city" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputuname">Address:</label>
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="mdi mdi-home-map-marker"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Address" formControlName="address" />
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-outline-info">
              <i class="fa fa-save"></i> Update Personal Information
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
