<div class="card">
  <img class="card-img-top" [src]="image" alt="Card image cap"/>
  <div class="card-body">
    <h6 class="card-title">{{ title }}</h6>
    <p class="card-text">
      {{ description }}
    </p>
  </div>
  <div class="card-footer">
      <button type="button" class="btn btn-danger btn-circle" (click)="deleteOperation()"><i class="fa fa-trash"></i></button>
      <button type="button" class="btn edit-button btn-circle" (click)="editOperation()"><i class="fa fa-pencil"></i></button>
  </div>
</div>
