<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ projectOperation }}</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form" (ngSubmit)="saveProject()" [formGroup]="projecForm">
  <div class="modal-body">
    <div class="row animated fadeIn">
      <div class="col">
        <div class="center-upload">
            <app-uplad-picture
            [imageUrl]="'assets/images/users/1.jpg'"
            (changePicture)="updateProjectImage($event)"></app-uplad-picture>
        </div>

        <div class="row">
          <div class="col">
              <div class="d-flex justify-content-between">
                <h5>Project Description:</h5>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Write your project description here..."
                  formControlName="description"></textarea>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputuname">Title:</label>
              <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="mdi mdi-comment-account-outline"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Project title" formControlName="title"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputuname">Status:</label>
              <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="mdi mdi-google-maps"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Status" formControlName="status" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancel</button>
    <button type="submit" ngbAutofocus class="btn btn-danger">Save Information</button>
  </div>
</form>
