.main-container{
  display: flex;
  flex-flow: row-reverse wrap;
  margin-bottom: 10px;
  justify-content: space-between;
}

.add-button{
  background-color: #14213d;
  color: white;
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  border: medium solid black;
  border-radius: 20px;
}

